.darkMode{
    color: white;
    background-color: black;
}
.darkMode .card{
    color: white;
    background-color: grey;
}
.darkMode .modal{
    color: black;
}

#productos {
    margin-bottom: 2%;
}

